USE [master]
GO
/****** Object:  Database [Concesionario]    Script Date: 8/31/2026 4:18:55 PM ******/
CREATE DATABASE [Concesionario]
 
 CREATE LOGIN [Airthon]
 WITH PASSWORD = '@Tequiero01',
 CHECK_POLICY = OFF,
 CHECK_EXPIRATION = OFF
 GO
 
USE [Concesionario]
GO
/****** Object:  User [Airthon]    Script Date: 8/31/2026 4:18:56 PM ******/
CREATE USER [Airthon] FOR LOGIN [Airthon] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [Airthon]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [Airthon]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 8/31/2026 4:18:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](255) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (2, N'string', N'stg', 1)
INSERT [dbo].[Categoria] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (3, N'ssss', N'ssssaaa', 1)
INSERT [dbo].[Categoria] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (4, N'carabali;', N'string', 1)
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
ALTER TABLE [dbo].[Categoria] ADD  DEFAULT ((1)) FOR [Estado]
GO
USE [master]
GO
