USE [master]
GO
/****** Object:  Database [Vehiculo_A]    Script Date: 8/31/2026 4:08:07 PM ******/
CREATE DATABASE [Vehiculo_A]

 CREATE LOGIN [Airthon]
 WITH PASSWORD = '@Tequiero01',
 CHECK_POLICY = OFF,
 CHECK_EXPIRATION = OFF
 GO

USE [Vehiculo_A]
GO
/****** Object:  User [Airthon]    Script Date: 8/31/2026 4:08:08 PM ******/
CREATE USER [Airthon] FOR LOGIN [Airthon] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Airthon]
GO
ALTER ROLE [db_datareader] ADD MEMBER [Airthon]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [Airthon]
GO
/****** Object:  Table [dbo].[Vehiculo]    Script Date: 8/31/2026 4:08:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculo](
	[IdVehiculo] [int] IDENTITY(1,1) NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[Marca] [varchar](100) NOT NULL,
	[Modelo] [varchar](100) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Vehiculo] ON 

INSERT [dbo].[Vehiculo] ([IdVehiculo], [IdCategoria], [Marca], [Modelo], [Precio], [Stock], [Estado]) VALUES (2, 1, N'aaa', N'sssring', CAST(110.00 AS Decimal(10, 2)), 10, 1)
INSERT [dbo].[Vehiculo] ([IdVehiculo], [IdCategoria], [Marca], [Modelo], [Precio], [Stock], [Estado]) VALUES (3, 5, N'Sin asignar', N'Sin asignar', CAST(0.00 AS Decimal(10, 2)), 0, 1)
INSERT [dbo].[Vehiculo] ([IdVehiculo], [IdCategoria], [Marca], [Modelo], [Precio], [Stock], [Estado]) VALUES (4, 6, N'Sin asignar', N'Sin asignar', CAST(0.00 AS Decimal(10, 2)), 0, 1)
SET IDENTITY_INSERT [dbo].[Vehiculo] OFF
GO
ALTER TABLE [dbo].[Vehiculo] ADD  DEFAULT ((1)) FOR [Estado]
GO
USE [master]
GO
